@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sant';
}

section {
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 70px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: rgb(99, 98, 98);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}

.content .textBox h2 span {
    color: rgb(64, 64, 65);
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: darkgray;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(34, 34, 65);
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 30px;
}

.content.imgBox img {
    max-width: 550px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
}

.thumb li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 20px;
    transition: 0.5s;
}

.thumb li img {
    max-width: 80px;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.sosmed {
    position: absolute;
    display:inline-block;
    top: 50%;
    right: 30px;
    justify-content: center;
    flex-direction: column;
}

.sosmed li {
    list-style: none;
}

.sosmed li a img {
    display: inline-block;
    margin: 5px;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 65);
    width: 100%;
    height: 100%;
    clip-path: circle(600px at right 800px);
}